body{
	background-color:#00ADAD;
	padding-top: 100px; 
	padding-bottom: 100px;
	padding-right: 100px;
	padding-left: 100px;}
h1{color:Brown}
h2{color:Black} 
h3{color:Black}
h4{color:Black}
h5{color:Black}
h6{color:Black}
